<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'user_navigation.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <tr>
        <th>Room No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Booking Date</th>
        <th>Total Days</th>
        <th>Price</th>
        <th>Room No.</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for i in data %}
    {% if i.email == request.user.username %}
    <tr>
        <td>{{i.room_no}}</td>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.contact1}}<br>{{i.contact2}}</td>
        <td>{{i.booking_date}}</td>
        <td>{{i.total_days}}</td>
        <td>{{i.price}}</td>
        <td>{{i.room_no}}</td>
        <td>{{i.status}}</td>
        <td><a href="{% url 'cancel_booking' i.id %}" class="btn btn-danger btn-sm">Cancel</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% if not data %}
        <h1 align="center">No Data Found</h1>
{% endif %}
</body>
</html>